.gjs-pn-devices-c {
    display: none !important;
  }
  
  .gjs-pn-panels {
    display: none !important;
  }
  
  .gjs-cv-canvas {
    background-color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0px;
  }
  
  .gjs-one-bg {
    background-color: #ffffff !important;
  }
  
  .gjs-blocks-c {
    display: flex;
    transition: ease-in-out 5s;
  }
  
  .gjs-block {
    height: 86px !important;
    width: 260px !important;
    padding: 1em;
    box-sizing: border-box;
    cursor: -webkit-grab;
    cursor: grab;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6eaee;
    border-radius: 6px;
    margin: 10px 2.5% 5px;
    box-shadow: none !important;
    color: black;
    /* transition: ease-in-out 5s; */
    z-index:1000;
  }


  .gjs-block:hover{
    color: #2f50f6 !important;
    border: 1px solid #2f50f6;
  }
  
  .custom-gjs-block {
    width: auto !important;
    box-sizing: border-box;
    cursor: -webkit-grab;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 10px 2.5% 5px;
    box-shadow: none !important;
    color: black;
    z-index: 1000;
    border: 1px solid #e6eaee;
    border-radius: 6px;
    padding: 10px 0px !important;
  }
  
  .custom-gjs-block:hover{
    color: #2f50f6 !important;
    border: 1px solid #2f50f6;
  }
  
  @-webkit-keyframes liftup {
    0% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes liftup {
    0% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  /* The element to apply the animation to */
  .gjs-blocks-c {
    -webkit-animation-name: liftup;
    animation-name: liftup;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  
  .gjs-block-label {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    width: auto !important;
    text-align: start;
    font-style: normal !important;
    font-weight: 450 !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
  
  .gjs-tools .gjs-badge {
    background-color: #2f50f6;
  }
  
  #gjs-tools {
    position: relative !important;
  }
  
  .gjs-toolbar {
    position: relative;
    background-color: white;
    box-shadow: 0px 6px 40px 0px rgba(15, 16, 33, 0.08);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: #73879a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 320px;
    /* top: auto !important; */
    left: 104% !important;
    /* Hide scrollbar for Chrome, Safari and Opera */
  }
  .gjs-toolbar .trait-container {
    display: flex;
    flex-direction: column;
    height: 350px !important;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
  }
  .gjs-toolbar .trait-container .style-manager {
    color: #000;
  }
  .gjs-toolbar .trait-container .image-trait-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .gjs-toolbar
    .trait-container
    .image-trait-preview
    .btn.btn-primary.btn-block.btn-sm {
    outline: none !important;
    border: none !important;
    padding: 10px;
    color: white;
    border-radius: 0.25rem;
    background-color: #525df2;
  }
  .gjs-toolbar .trait-container::-webkit-scrollbar {
    display: none;
  }
  .gjs-toolbar .trait-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .gjs-toolbar-item {
   
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    display: flex;
    font-size: medium;
  }
  
  .gjs-toolbar > div:first-child {
    gap: 10px;
    display: flex !important;
    align-items: center !important;
    width: 100%;
    height: 50px !important;
    justify-content: space-around !important;
  }
  
  .gjs-off-prv {
    display: none !important;
  }
  
  .gjs-sm-sectors {
    color: #000 !important;
    background-color: white !important;
  }
  
  .gjs-sm-sector-title {
    display: flex;
    background-color: white;
    align-items: center;
    border: none;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .gjs-sm-sector-label {
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    color: rgba(94, 88, 88, 0.808);
  }
  
  .gjs-title {
    background-color: transparent !important;
    border-bottom: none !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500 !important;
    cursor: none;
    pointer-events: none;
    font-size: 14px;
    line-height: 18px;
    color: #2d515f;
  }
  
  .gjs-block-category {
    border: none;
  }
  
  .gjs-open {
    border-bottom: none !important;
  }
  
  .gjs-trt-trait {
    display: block;
    justify-content: flex-start;
    padding: 5px 10px;
    font-weight: lighter;
    align-items: center;
    text-align: left;
  }
  
  .gjs-sm-property {
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 5px;
  }
  
  .gjs-field input,
  .gjs-field textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    background-color: white;
    border-radius: 6px;
    height: 42px;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 5px;
    z-index: 1;
  }
  
  .gjs-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    background-color: white;
    border-radius: 6px;
    height: 42px;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 5px;
    z-index: 1;
  }
  
  .gjs-select option,
  .gjs-field-select option,
  .gjs-clm-select option,
  .gjs-sm-select option,
  .gjs-fields option,
  .gjs-sm-unit option {
    background-color: white;
    color: black;
  }
  
  .gjs-field {
    background-color: white;
    border: 1px solid #e6eaee;
    box-shadow: none;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: relative;
  }
  
  .gjs-sm-field.gjs-sm-composite,
  .gjs-sm-composite.gjs-clm-select,
  .gjs-sm-composite.gjs-clm-field {
    background-color: white;
    border: none;
  }
  
  .gjs-field-colorp {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 100%;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
    z-index: 10;
  }
  
  .gjs-field-arrows {
    display: none;
  }
  
  .gjs-sm-icon,
  .gjs-label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* Font/Font 1 */
    color: #2d515f;
  }
  
  .gjs-category-open,
  .gjs-block-category.gjs-open,
  .gjs-sm-sector.gjs-sm-open {
    border-bottom: 1px solid #e6eaee;
  }
  
  .gjs-sm-sector-caret {
    color: #3940f9;
  }
  
  .gjs-sm-btn {
    background-color: #3940f9 !important;
    border-radius: 12px !important;
    padding: 5px;
    height: 42px !important;
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #ffffff !important;
    border: none;
    opacity: 1 !important;
    filter: none !important;
    border: none !important;
  }
  
  .gjs-mdl-dialog {
    -webkit-animation: gjs-slide-down 0.215s;
    animation: gjs-slide-down 0.215s;
    margin: auto;
    max-width: 850px;
    width: 90%;
    border-radius: 16px;
    font-weight: lighter;
    position: relative;
    z-index: 2;
  }
  
  .gjs-mdl-title {
    font-size: 1rem;
    color: black;
    /* border: none; */
  }
  
  .gjs-mdl-btn-close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: black;
  }
  
  .gjs-am-file-uploader > form {
    background-color: white;
    border: 2px dashed;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .gjs-am-file-uploader #gjs-am-title {
    position: absolute;
    padding: 150px 10px;
    color: black;
    width: 100%;
  }
  
  .gjs-am-assets-cont {
    background-color: white;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    width: 45%;
    float: right;
    height: 325px;
    overflow: hidden;
  }
  
  .gjs-btn-prim {
    /* color: inherit; */
    background-color: #3940f9;
    border-radius: 8px;
    color: white;
    height: 42px;
    padding: 3px 6px;
    padding: 5px;
    cursor: pointer;
    border: none;
  }
  
  .gjs-am-dimensions {
    /* opacity: .5; */
    filter: none;
    opacity: 1;
    font-size: 10px;
    color: black;
  }
  
  .gjs-am-name {
    color: #000;
  }
  
  .gjs-placeholder.horizontal,
  .gjs-com-placeholder.horizontal,
  .gjs-placeholder.horizontal {
    border-color: rgba(0, 0, 0, 0) #3940f9 !important;
    border-width: 0px !important;
    margin: 0px 0 0;
  }
  
  .gjs-placeholder.vertical,
  .gjs-com-placeholder.vertical,
  .gjs-placeholder.vertical {
    border-color: rgba(0, 0, 0, 0) #3940f9 !important;
    border-width: 0px !important;
    margin: 0 0 0 0px !important;
  }
  
  .gjs-placeholder-int,
  .gjs-com-placeholder-int,
  .gjs-placeholder-int {
    background-color: transparent !important;
    border: none !important;
    pointer-events: none !important;
    box-shadow: none !important;
    color: #000 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
  }
  
  .gjs-cv-canvas__frames {
    transition: all 0.5s;
  }
  
  .gjs-resizer-h {
    border: 5px solid #3940f9;
    background-color: #3940f9;
  }
  
  .gjs-clm-tags {
    font-size: 0.75rem;
    padding: 0px 13px;
  }
  
  .gjs-clm-tags #gjs-clm-new {
    color: black;
    padding: 5px 6px;
    display: none;
  }
  
  .gjs-clm-header-status {
    flex-shrink: 1;
    margin-left: auto;
  }
  
  .gjs-clm-sel {
    color: black;
    opacity: 1;
  }
  
  .gjs-clm-header-label,
  .gjs-clm-label-sel {
    float: left;
    padding-right: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2d515f;
  }
  
  #trait-manager
    > div
    > div.gjs-trt-trait__wrp.gjs-trt-trait__wrp-ChangeSource
    > div
    > div.gjs-field-wrp.gjs-field-wrp--ChangeSource
    > div {
    border: none !important;
  }
  
  .gjs-am-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    color: black;
    display: flex;
  }
  
  .gjs-sm-slider .gjs-field-integer {
    flex: 1 1 72px;
  }
  
  .gjs-field-units {
    position: absolute;
    margin: auto;
    right: 0px !important;
    bottom: 0;
    top: 0;
  }
  
  #gjs-sm-input-holder > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .gjs-sm-icon {
    font-style: normal;
    font-weight: 450;
    font-size: 13px;
    line-height: 16px;
    /* Font/Font 1 */
    color: #2d515f;
  } /*# sourceMappingURL=rtlstyle.css.map */
  
